<a href="https://colab.research.google.com/github/JasperLS/EWF/blob/main/EWF_Python_Introduction_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**EWF - Python Introduction Course**

Welcome to our EWF Python Introduction Course. The following tasks will help you understand and use Python. Python can be an extremely valuable tool for EWF, your Bachelor thesis or any other projects.

Please rease and answer all tasks carefully. 
Whenever you encounter a "**...**" please try to replace it with your own code. **This is task-based learning - you will have to google a lot!** 


Good luck!

##**First Steps**

**Print Function**

By using the print statement, we're able to output text. 

*Please run the following code*:

In [ ]:
print ('Hello World')

<img src="https://miro.medium.com/max/1250/1*iNw33pBEYZIAoE9oHdhLLw.jpeg" width=500 height=330>

<strong>Basic Operations</strong>

With Python, you can easily do some calculations. 

*Tap around to perform an addition with a result of 6:*

In [ ]:
3

*Use parantheses to determine which operations are performed first - try to get 40:*

In [ ]:
4*4+6

*Try to divide by 2 to get a result of 2.00*

**<strong><font color='blue'> Side Note:** we call 2.00 a float variable, while 2 is called an integer variable. Despite seemingly being the same, Python sees them as different datatypes which for example leads to differnt memory needs.</font></strong>

In [ ]:
4

**Comments**

You can comment your code, to explain something for later reference.

*Please turn "This is just a comment" into a proper comment.*

In [ ]:
8 + 8
This is just a comment

**Storing Values**

You can store values in variables.

*Please complete the code to generate 40 as an output.*

In [ ]:
... = 10

... = ... * ...

print(...)

##**Data Types**

If Python handles data, it has to somehow turn it into 1s and 0s. Depending on the type of data, Python uses different internal representations. It is therefore very important, to always make sure your data has the right data type.

**Integers**

Integers are whole numbers like: 

- 5 
- 3

**Floats**

Numbers that aren't integers are represented as floats in Python ("a floating point number"). Some examples are: 
- 0.8
- -5.346

How to create a float? 
By entering a number with a decimal point, or by using operations such as division on integers as well as operations on a float and an integer.

*Please build a float dividing 12 by 4 and try to convert it back into an integer (should be 3 not 3.0):*

In [ ]:
# create float
print()
# turn it into an integer
print()

**Strings**

You have to use a string if you want to use text in Python. It's one of the basic things that store text like: 

- Python is fun
- I love Data Science

How to create a string? By entering text between two single or double quotation marks.

*Run the code to create a string:*

In [ ]:
"Python is fun"

*What's wrong with the following string? Please correct it so that the type is 'str' and there is no error message!*

In [ ]:
type('Lisa's brother likes good food.')

**Booleans & Comparisons**

You've already learned about integers, floats and strings. In Python, another type is the Boolean type. It has two values: True and False. By comparing values (using the equal operator ==), you can create Booleans. 

*Please define my_boolean as True:*

In [ ]:
my_boolean = 
print(my_boolean)

*Please compare two numbers and see if you get the "True" statement:*

In [ ]:
...

In Python, you can also use operators (> and <) to determine whether one number (float or integer) is smaller than or greater than another.

*Tap around (change the ...) and generate one True as well as one False statement:*

In [ ]:
24 ... 16

##**Control Structures**

**if&else statement**

<img src="https://www.tutorialspoint.com/python/images/if_else_statement.jpg" width=300 height=300>

*Now it's your turn! Change the following code (...) to generate "else":*

In [ ]:
if 2 + ... == 4 ...
  if 3 * ... == 9 ...
    print ("if")
  else: 
    print ("else")

**<strong><font color='blue'> Side Note:**  Indentations are very important in Python, as they structure your code. </font></strong>

<img src="https://i.redd.it/wk843smkri441.jpg" width=500 height=300>

**Boolean Logic**

Boolean Logic is used to make more complicated conditions for if statements that rely on more than one condition. The Boolean operators are **and, or and not**.

*Tap around to get a false statement:*

In [ ]:
print ( 2 < 3 and 2 ... 6 )

*Change and correct the following code to print "Hi":*

In [ ]:
age = ... 
money = 400 
if age > 20 ... money > 50 ...
  ...("Hi"...

**Lists**

Lists are used to store multiple items. By using square brackets with commas separating items, you can create a list. 

*Try to print the first argument of the list ("Hello").*

In [ ]:
words =  ["Hello", "world", "!"]
print (words...)

*Change the code to create a list and print its 3rd element:*

In [ ]:
the_list = ... 33, 66, 99 ...
...(the_list[...])

**Loops**

A for loop is used to repeat a block of code multiple times. It is common to use the for loop when the number of iterations is fixed (e.g. iterating over a fixed list of items in a shopping list), but there are other loops as well.

*Change the code below to print all elements of your list:*

In [ ]:
your_list = ['a','b','c','d']

for ... ... ... :
  print (...)

**Range**

The range() function returns a sequence of numbers. By default, it starts from 0, increments by 1 and stops before the specified number. 

*The code below should generate a list containing all of the integers, up to 10 (not incl.). Please change the following code (...):*

In [ ]:
numbers = list(...(10))

print(...)

##**Functions & Modules**

**Functions**

In addition to using pre-defined functions like range() or print(), you can create your own functions by using the def statement. You have to define functions before they are called! This is especially useful, if you want to do similar operations again and again.

*Try for yourself and build a function "quattro_hello" which prints "hello" four times.*

In [ ]:
def ...:
  # build a proper loop to print your output two times 
  print (...)

*Now call your function and see if it prints 'hello' three times:*

In [ ]:
double_hello()

**<strong><font color='blue'> Side Note:**  Python can take any form of object as input to a function AND (almost) everything in Python is an object !! </font></strong>





<img src="https://miro.medium.com/max/625/1*mPpNrH_b3DEd0HiljDqMkw.png" >

It is also possible to define a function that takes an argument. 

*Fill in the ... to define a function that prints whether the first given paramter is greater or equal than the second paramter - or not:*

In [ ]:
def compare(x, y):
  if ...:
    print(...)
  else:
    print(...)

print(compare(...,...))

**Modules & Libraries**

Modules refer to a file containing Python functions. A file containing Python code, for example: example.py, is called a module, and its module name would be example. The basic way to use a mdule is to add import *some_module_name* at the top of your code, and then using *some_module_name*.var to access functions and values with the name var in the module. This allows you to access complex functions programmed by other people.

*Please import only the pi constant from the respective module and print pi:*

In [ ]:
from ... import ...

print(...)

<img src ="https://i.redd.it/37xqk9umycn31.jpg" width=500 height=400>

##**Pandas - Working with tables**

Please import the pandas module as pd

In [ ]:
...

**Data upload**

Please upload dataset using the ![grafik.png]()-button on the left.

![colab.png]()

The following code will load the dataset if uploaded correctly. Typically, a table is called a dataframe or df for short.

In [4]:
df = pd.read_csv('./data.csv',index_col=0)

Take a look at the top 5 rows of the dataframe

In [ ]:
...

Take a look at the 3rd row only

In [ ]:
...

Filter for all the rows with Geschlecht == "M"

In [ ]:
...

How often does each gender appear in the dataset? Use a appropriate function to find out.

In [ ]:
...

So far "Einkommen" is treated as a nominal variable - how can we turn it into a categorical one?

In [7]:
categories=["< 1000", "1000 - < 2000", "2000 - < 4000", "4000 - < 6000", "> 6000"]
...

Pandas can also help visualizing data.Try to create a normal bar plot for age.

In [ ]:
...

Now, can we turn this into a histogram, to get an idea about the age distribution in our dataset?

In [ ]:
...

<img src="https://miro.medium.com/max/828/0*hHVINI5TGJB6jPKN.jpg" width=500 height=300>

##**End of Python Introduction - Congratulations ¯\\\_(ツ)\_/¯**

You have reached the end of this course. Feel free to play aound with some of the code snippets. You cannnot break anything in Colab and you can reload at any point.

If you have any questions left, ask Google or your excercise instructor.